nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    margin-left: 300px;
}
nav li{
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
    text-align: right;
}
nav a{
    text-decoration: none;
}